* @chronicle/tip-marketplace-admin

packages/mp/ amitjoseph@google.com haggit@google.com

content/response_integrations/ @chronicle/secops-marketplace-pr-approvers
content/playbooks/ @chronicle/secops-marketplace-pr-approvers
content/parsers/ @chronicle/malachite-github-content-hub-parsers-writers
tools/parsers/ @chronicle/malachite-github-content-hub-parsers-writers
